.home-feature {
  width: 100%;
  overflow: hidden;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

    &-name {
      color: #E9572A;
    }

    &-action {
      font-size: 18px;
      color: #828282;
      margin: 0;
    }
  }

  &-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}