.home-feature-categary {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 6px;

  &-image {
    width: 204px;
    height: 204px;
    overflow: hidden;
  }

  &-title {
    text-align: center;
    font-size: 26px;
    padding: 8px 18px;
  }
}