.searchDefault {}

.search-progress {
  background-color: #F2F2F2;
  padding: 20px;
  border-radius: 20px;

  &-header {
    margin-bottom: 20px;
    padding: 0 20px;
  }

  &-body {
    display: flex;
    justify-content: center;

  }

  &-item {
    display: flex;
    justify-items: center;

    &-left {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &-num {
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background-color: #BC1723;
        border-radius: 50%;
        color: #ffffff;
        margin-bottom: 16px;
      }

      &-des {
        font-size: 22px;
      }
    }

    &-right {
      width: 40px;
      height: 5px;
      margin: 18px 10px 0 10px;
      background-color: #BC1723;
    }
  }
}

.search-exp {
  margin: 28px 0 60px 0;
  padding: 0 28px;

  &-header {
    display: flex;
    justify-content: space-between;
    color: #828282;
    margin-bottom: 15px;
  }

  &-body {
    display: flex;

    &-item {
      margin: 8px;
      padding: 10px 28px;
      border-radius: 28px;
      background-color: #F0F0F0;
    }
  }
}