.ShopDetailMsg {
  background-color: #484848;
  color: #ffffff;
  height: 100vh;
  padding: 100px 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &-close {
    position: absolute;
    right: 40px;
    top: 40px;
  }

  &-image {
    width: 300px;
    height: 300px;
    border-radius: 6px;
    margin: 80px 0 40px;
  }

  &-author {
    display: flex;
    margin: 20px 0 40px;
    font-weight:300;
    font-size: 24px;

    &-photo {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 10px;
    }
  }
}