.home {
  padding: 100px 30px 0 30px;
  background-color: rgba(248, 248, 248, 1);

  &-search {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
  }

  &-banner {
    margin-bottom: 40px;
  }

  &-feature {
    margin-bottom: 40px;
  }

  &-recommend {}
}