.shop {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #F8F8F8;
  font-size: 24px;
  padding-top: 100px;
}

.shopBox {
  padding: 16px 0;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 24px;
    color: #BC1723;

    &-op {
      &-icon {
        width: 32px;
        height: 32px;
      }

      .icon-add {
        margin-right: 24px;
      }
    }
  }

  &-body {
    padding: 0 15px;
  }
}

.shopEdit {
  font-size: 24px;
  color: #828282;
  padding: 16px;

  &-action {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;

    &-cancel {

    }
    &-ok {
      color: #BC1723;
    }
  }

  &-input {
    margin-bottom: 30px;
    border-bottom: 2px solid #C8C8C8;
  }

  &-checkbox {
    width: 24px;
    height: 24px;
  }

  &-secret {
    display: flex;
    align-items: center;
  }
}