.shop {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #F8F8F8;
  padding-top: 100px;

  &-search {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
  }
}

.shopBox {
  padding: 16px 0;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 28px;
    color: #BC1723;

    &-op {
      &-icon {
        width: 32px;
        height: 32px;
      }

      .icon-add {
        margin-right: 28px;
      }
    }
  }

  &-body {
    padding: 0 15px;
  }

  &-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 100px;
    background-color: #ffffff;
  }

  &-button {
    font-size: 30px;
  }
}

.shopEdit {
  color: #828282;
  padding: 16px;

  &-action {
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;

    &-cancel {}

    &-ok {
      color: #BC1723;
    }
  }

  &-input {
    margin-bottom: 30px;
    border-bottom: 2px solid #C8C8C8;
  }

  &-checkbox {
    width: 28px;
    height: 28px;
  }

  &-secret {
    display: flex;
    align-items: center;
  }
}