.goodDetail {
  font-size: 24px;
  background-color: #F8F8F8;

  &-image {
    height: 750px;
    background-color: red;
  }

  &-content {
    padding: 20px 25px;
    background-color: #ffffff;

    &-title {
      font-weight: 500;
      margin-bottom: 10px;
    }

    &-des {
      display: flex;
      font-size: 21px;
      color: #828282;
      margin-bottom: 10px;

      & > View {
        margin-right: 45px;
      }
    }

    &-price {
      display: flex;
      align-items: center;
      color: #DA2424;
      margin-bottom: 20px;

      &-num {
        font-size: 48px;
        color: #BC1723;
      }

      &-discount {
        margin-left: 18px;
        padding: 6px 22px;
        background-color: #C91623;
        color: #ffffff;
        font-size: 21px;
        border-radius: 6px;
      }
    }

    &-footer {
      display: flex;
      justify-content: space-around;
      font-size: 21px;
      color: #828282;
    }
  }

  &-num {
    margin-top: 12px;
    padding: 25px;
    background-color: #ffffff;
    font-size: 21px;
  }

  &-action {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #F8F8F8;

    &-box {
      display: flex;
      justify-content: flex-end;
      padding: 20px 30px;
    }
    

    &-collect {
      padding: 24px 70px;
      background-color: #ffffff;
      color: #BC1723;
      border: 3px solid #C91623;
      border-top-left-radius: 100px;
      border-bottom-left-radius: 100px;
    }

    &-buy {
      padding: 24px 70px;
      background-color: #BC1723;
      color: #ffffff;
      border: 3px solid #C91623;
      border-top-right-radius: 100px;
      border-bottom-right-radius: 100px;
    }
  }
}