.ShopListItem {
  display: flex;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 18px;
  margin-bottom: 28px;

  &-left {
    width: 160px;
    height: 160px;
    background-color: red;
    border-radius: 6px;
  }

  &-right {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 26px;

    &-item {
      display: flex;
      flex-direction: column;
    }

    &-title {
      font-weight:500;
    }
    &-des {
      font-size: 18px;
      color: #646464;
      padding: 6px 0 20px;
    }
    &-content {
      font-size: 16px;
      color: #272727;
    }
    &-author {
      font-size: 16px;
      color: #538DE0;
      padding-top: 6px;
    }
  }
}
