.home-recommend {
  width: 100%;

  &-header {
    display: flex;
    align-items: center;
    font-weight: 200;
    margin-bottom: 20px;
    padding: 0 20px;
    position: relative;

    &-item {
      margin-right: 50px;
    }

    .active {
      font-size: 40px;
      color: #E9572A;
    }

    .fresh {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 26px;
      font-weight: 400;
      color: #828282;
    }
  }
}