.search {
  font-size: 30px;
  background-color: #F8F8F8;
  padding-top: 100px;

  &-head {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
  }

  &-body {
    padding: 28px 15px;

    &-channel {
      display: flex;
      justify-content: space-around;
      align-items: center;

      &-item {
        padding: 10px;
      }

      .active {
        color: #BC1723;
      }
    }
  }
}