.shopDetail {
  width: 100%;
  font-size: 24px;
  background: #F8F8F8;

  &-operation {
    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      color: #BC1723;
    }
  }
}

.shopContent {
  &-head {
    color: #DA2424;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 35px;

    &-op {
      &-icon {
        width: 32px;
        height: 32px;
      }

      .icon-add {
        margin-right: 24px;
      }
    }
  }

  &-body {
    padding: 0 30px;
  }
}