// 全局样式修改
View,
view,
Text,
text,
Button,
button {
  font-size: 30px;
}

View,
view,
Text,
text {
  word-break: break-all;
}

.at-float-layout__container {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.at-search-bar {
  background-color: #F0F0F0;
  border: none;

  &::after {
    border: none;
  }

  .at-search-bar__input {
    font-size: 30px;
  }

  .at-search-bar__action {
    background-color: #F0F0F0;
    font-size: 30px;
    font-weight: 600;
    color: #BC1723;
  }
}

.taro-modal {
  font-size: 30px;
  color: #828282;
  padding: 16px;

  &-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
  }
}

.red {
  color: #BC1723;
}