.shopContent {
  background-color: #FAF7F8;

  &-images {
    padding: 24px;
    background-color: #FAF7FA;
  }

  &-item {
    padding: 30px;
    margin-bottom: 16px;
    background-color: #ffffff;

    .title {
      margin-bottom: 20px;
    }

    .addGood {
      background-color: #F0F0F0;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 60px 0;
      color: #BC1723;
    }
  }

  &-submit {
    margin: 30px 15px;
    border-radius: 40px;
    border: 2px solid #BC1723;
    color: #BC1723;
  }
}


.shopContent-search {
  position: relative;
  padding-top: 88px;

  &-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    color: #BC1723;
  }

  &-head {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}